:root {
  --blue: RoyalBlue;
  --blue-light: DodgerBlue;
  --color-text: Black;
  --color-bg: White;

  --font-size-small: 12px;
  --font-size-normal: 16px;
  --font-size-large: 20px;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
}

hr {
	margin: 0;
	border-top: 0;
	border-color: WhiteSmoke;
}

