:root {
  --white: white;
  --blue: RoyalBlue;
  --blue-light: DodgerBlue;
  --text: 
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

hr {
	margin: 0;
	border-top: 0;
	border-color: WhiteSmoke;
}

